mixin ListItem(title = "This is default title", caption)
	li.list-item 
		h2.list-title= title  
		if caption 
			span.list-caption= caption 
		if block 
			block

mixin nemuLink(title, href="#")
	li.header-menu-item 
		a.header-menu-link(href= href)= title

mixin headerBottomItem(number, title, className)
	.header-bottom-item
		span.header-bottom-number= number
		soan.header-bottom-text= title

mixin blockBox(caption, title, desc)
	.block-box
		h3.block-box-caption= caption 
		h2.block-box-heading= title 
		if desc 
			p.block-box-desc= desc 

mixin aboutItem(src, title, iconClass,alt="")
	.about-item 
		img.about-image(src= src,alt= alt)
		.about-content 
			i.about-icon(class= iconClass)
			span.about-title= title

mixin serviceItem(title, desc)
	.service-item 
		i.fa.fa-cog.service-item-icon 
		.service-item-infor 
			h3.service-item-title= title  
			p.service-item-desc= desc

mixin wedoItem(src, title, desc, active= "") 
	.wedo-item(class= active)
		.wedo-item-header 
			img.wedo-item-icon(src= src)
			h3.wedo-item-title= title
			i.fal.fa-angle-up.wedo-item-arrow
		.wedo-item-content 
			.wedo-item-text= desc

mixin teamIteam()
	.team-item 
		.team-main 
			img.team-image(src="../images/img-team2.jpg", alt="")
			.team-content 
				ul.team-social 
					li.team-social-item 
						a.team-social-link(href="#")
							i.fab.fa-facebook-f
					li.team-social-item 
						a.team-social-link(href="#")
							i.fab.fa-twitter 
					li.team-social-item 
						a.team-social-link(href="#")
							i.fab.fa-pinterest
					li.team-social-item 
						a.team-social-link(href="#")
							i.fab.fa-instagram
		.team-info 
			h3.team-name Christopher Cambell
			span.team-position Branding/UX team