mixin ListItem(title = "This is default title", caption)
	li.list-item 
		h2.list-title= title  
		if caption 
			span.list-caption= caption 
		if block 
			block

mixin nemuLink(title, href="#")
	li.header-menu-item 
		a.header-menu-link(href= href)= title

mixin headerBottomItem(number, title, className)
	.header-bottom-item
		span.header-bottom-number= number
		soan.header-bottom-text= title

mixin blockBox(caption, title, desc)
	.block-box
		h3.block-box-caption= caption 
		h2.block-box-heading= title 
		if desc 
			p.block-box-desc= desc 

mixin aboutItem(src, title, iconClass,alt="")
	.about-item 
		img.about-image(src= src,alt= alt)
		.about-content 
			i.about-icon(class= iconClass)
			span.about-title= title

mixin serviceItem(title, desc){
	.service-item 
		i.fa.fa-cog.service-item-icon 
		.service-item-infor 
			h3.service-item-title= title  
			p.service-item-desc= desc
}