mixin ListItem(title = "This is default title", caption)
    li.list-item 
        h2.list-title= title  
        if caption 
            span.list-caption= caption 
        if block 
            block

mixin nemuLink(title, href="#")
    li.header-menu-item 
        a.header-menu-link(href= href)= title

mixin headerBottomItem(number, title, className)
    .header-bottom-item
        span.header-bottom-number= number
        soan.header-bottom-text= title

mixin blockHeader(caption, title, desc)
    .block-header
        h3.block-header-caption= caption 
        h2.block-header-heading= title 
        if desc 
            p.block-header-desc= desc 